<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="CSS/user_dashboard.css">
    <link rel="stylesheet" href="CSS/navbar.css">

    <script type="text/javascript" src="js/location.js"></script>

    <link href="https://fonts.googleapis.com/css2? family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('./navbar'); %>

        <div class="header">
            <h1>Dashboard</h1>
            <p>View Your Orders and Access The Features</p>
        </div>

        <div class="row">
            <div class="side">
                <h2>Your Profile</h2><br>
                <p><strong>Username:</strong>
                    <%= user.username %>
                </p>
                <p><strong>Email:</strong>
                    <%= user.email %>
                </p>
                <p><strong>Mobile Number:</strong>
                    <%= user.mobile %>
                </p>

                <div class="tb">
                    <input class="hide" type="text" id="textInput1" />
                </div>

                <p><strong>Password:</strong>
                    <%= user.password %>
                </p>
                <div class="tb">
                    <input class="hide" type="text" id="textInput" />
                </div>
                <br>

                <center><button class="button1" onclick="onButtonClick()">Edit</button></center>
            </div>

            <div class="main">
                <br>
                <input type="text" placeholder="Search..." name="search">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button><br><br><br>

                <% allOrders.forEach(delivery=> { %>
                    <div class="fakeimg row2">
                        <div class="column2 left2">
                            <h2>Delivery Order 1</h2>
                            <p><strong>Placed On:</strong>
                                <%= delivery.placedOn %>
                            </p>
                            <p><strong>Service Type:</strong>
                                <%= delivery.serviceType %>
                            </p>
                            <p><strong>Expires On:</strong>
                                <%= delivery.expiresOn %>
                            </p>
                        </div>
                        <div class="column2 right2">
                            <h2 style="color: white;">Delivery Order 1</h2>
                            <p><strong>Pick-Up Address:</strong>
                                <%= delivery.pickup %>
                            </p>
                            <p><strong>Drop-Off Address:</strong>
                                <%= delivery.dropoff %>
                            </p>
                        </div>
                        <a href="/order_details_user"><button class="details_btn"><span>Show
                                    details</span></button></a>

                    </div>
                    <br><br><br><br>
                    <%})%>
            </div>
        </div>

        <footer id="footer">
            <div class="copyright">
                <p>© All rights reserved | My Dabbawala</p>
                <ul class="contact">
                    <li>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                </ul>
            </div>
        </footer>

        <script type="text/javascript">
            function onButtonClick() {
                document.getElementById('textInput1').className = "show";
                document.getElementById('textInput').className = "show";
                document.getElementsByClassName('button1').value = "Update";
            }
        </script>
</body>

</html>